<template name="wineEdit">
<div class="panel"> 
<form class="panel-body" role="form">
	<div class="form-group">
		<label for="name">Name</label> 
		<input name="name" type="text" class="form-control" value="{{name}}" placeholder="Name of the Wine"/> 
	</div>
	<div class="form-group">
		<label for="producer">Wine Producer</label> 
		<input name="producer" type="text" class="form-control" value="{{producer}}" placeholder="Wine producer/Wineyard"/>
	</div>
	<div class="form-group">
		<label for="country">Country</label> 
		<input name="country" type="text" class="form-control" value="{{country}}" placeholder="Country of the Wine"/>
	</div>
	<div class="form-group">
		<label for="year">Year</label> 
		<input name="year" type="number" class="form-control" value="{{year}}" placeholder="Year"/>
	</div>
	<div class="form-group">
		<input type="submit" value="Save" class="btn btn-primary"/>
	</div> 
</form>
</div>
</template>