<template name="wineAdd"> 
<form class="main">
	<div class="control-group">
		<label class="control-label" for="name">Name</label> 
		<div class="controls">
			<input name="name" type="text" value="" placeholder="Name of the Wine"/> 
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="producer">Wine Produced</label> 
		<div class="controls">
			<input name="producer" type="text" value="" placeholder="Wine producer/Wineyard"/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="country">Country</label> 
		<div class="controls">
			<input name="country" type="text" value="" placeholder="Country of the Wine"/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="year">Year</label> 
		<div class="controls">
			<input name="year" type="number" value="2014" placeholder="Year"/>
		</div>
	</div>
	<div class="control-group"> <div class="controls">
		<input type="submit" value="Submit" class="btn btn-primary"/> </div>
	</div> 
</form>
</template>